.footer {
    position: relative;
    img {
        height: 400px;
    }
    @include imageCover;

    &--logo__white {
        background-image: url(../../images/Websitelogo-white-1.png);
        background-repeat: no-repeat;
        bottom: 0;
        height: 41%;
        left: 200px;
        position: absolute;
        top: 90px;
        width: 28%;
    }
}